<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

**Ex2. Create markdown cell with title of the notebook**

# Data Science Tools and Ecosystem

**Ex 3. Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

1. List popular languages for Data Science
2. List popular libraries used by Data Scientists
3. Tools for create table
4. Arithmetic expressions in Python

**Ex 4. Create a markdown cell to list data science languages**

Some of the popular languages that Data Scientists use are:

1. Python
2. JavaScript
3. R
4. Julia

**Ex 5.Create a markdown cell to list data science libraries**

Some of the commonly used libraries used by Data Scientists include:

1. Scikit-Learn
2. Numpy
3. Scipy
4. Tensor-Flow
5. Pandas
6. Py-Tourch
7. Matplotlib

**Ex 6. Create a markdown cell with a table of Data Science tools**

|Data Science Tools|
| -------------|
| Seldon |
| mleap |
| PredictionIO  |

**Ex 7. Create a markdown cell introducing arithmetic expression examples**

### Below are a few examples of evaluating arithmetic expressions in Python

**Ex 8. Create a code cell to multiply and add numbers**

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

**Ex 9. Create a code cell to convert minutes to hours**

In [13]:
#This will convert 200 minutes to hours by diving by 60
a = int(input())
h = (a//60)
m = (a%60)
print(h,m)

 200

3 20

**Ex 11. Create a markdown cell to indicate the Author's name**

## Author:
KHOLHLOVA ANASTASSIYA